<%
var pkg = require('../package.json');
%>
  <!doctype html>

  <html lang="en">

  <head>
    <meta charset="utf-8">

    <title>
      <%= pkg.name %>
    </title>
    <meta name="description" content="<%= pkg.description %>">
    <meta name="author" content="<%= pkg.author %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles/index.css?v=<%= pkg.version %>">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  </head>

  <body>
    <header>
      <h1 class="title">Refugee flow visualization</h1>
      <a href="#" class="menu-link">About</a>
    </header>

    <div class="flex-container">
      <aside class="info-container">
        <div id="country-info">
          <h2 class="side-title">Finland</h2>
          <ul id="info-section">
            <li id="population">Population: 5,4mil.</li>
            <li id="gdp">GDP: 235,8mil.</li>
            <li id="gdp-capita">GDP (capita): 43,1k</li>
            <li id="life-expentancy">Life expentancy: 81.4</li>
          </ul>
        </div>
        <div id="events-info">
          <h2 class="side-title">Wars</h2>
          <ul id="event-section">
            <li id="event-desc">The wars that have been fought during this time.</li>
            <ul id="wars">
              <li id="event-box">
                <h4 class="war-name"><a href="#">Kurdish rebellion of 1983</a></h4>
                <p class="start-year">Start: 1985</p>
                <p class="end-year">End: 1983</p>
              </li>
            </ul>
          </ul>
        </div>
      </aside>

      <main class="map-container">
        <div id="map"></div>
        <div id="slider">
          <h3>Current year</h3>
          <input type="range" name="inputYear" id="inputYear" value="1983" min="1950" max="2016" step="0.1">
          <output name="outputYear" id="outputYear">1983</output>
        </div>
      </main>
    </div>

    <script src="bundle.js?v=<%= pkg.version %>"></script>
  </body>

  </html>